# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
input_file = "../output_data/cities.csv"
# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [4]:
vac_df =  pd.read_csv(input_file)
vac_df

,Unnamed: 0,coord,weather,base,main,visibility,wind,clouds,dt,sys,timezone,id,name,cod,snow,rain,message
0,0,"{'lon': -68.3, 'lat': -54.8}","[{'id': 301, 'main': 'Drizzle', 'description':...",stations,"{'temp': 279.15, 'feels_like': 270.81, 'temp_m...",10000.0,"{'speed': 10.3, 'deg': 230}",{'all': 75},1.586711e+09,"{'type': 1, 'id': 8303, 'country': 'AR', 'sunr...",-10800.0,3833367.0,Ushuaia,200,NaN,NaN,NaN
1,1,"{'lon': -46.05, 'lat': 60.92}","[{'id': 300, 'main': 'Drizzle', 'description':...",stations,"{'temp': 280.15, 'feels_like': 271.03, 'temp_m...",NaN,"{'speed': 9.3, 'deg': 70}",{'all': 98},1.586711e+09,"{'type': 1, 'id': 47, 'country': 'GL', 'sunris...",-7200.0,3421719.0,Narsaq,200,NaN,NaN,NaN
2,2,"{'lon': 19.23, 'lat': -34.42}","[{'id': 802, 'main': 'Clouds', 'description': ...",stations,"{'temp': 289.82, 'feels_like': 289.19, 'temp_m...",NaN,"{'speed': 1.79, 'deg': 281, 'gust': 3.58}",{'all': 29},1.586711e+09,"{'type': 3, 'id': 2006131, 'country': 'ZA', 's...",7200.0,3366880.0,Hermanus,200,NaN,NaN,NaN
3,3,"{'lon': -70.92, 'lat': -53.15}","[{'id': 802, 'main': 'Clouds', 'description': ...",stations,"{'temp': 283.92, 'feels_like': 275.38, 'temp_m...",10000.0,"{'speed': 10.8, 'deg': 280, 'gust': 15.9}",{'all': 40},1.586710e+09,"{'type': 1, 'id': 8487, 'country': 'CL', 'sunr...",-10800.0,3874787.0,Punta Arenas,200,NaN,NaN,NaN
4,4,"{'lon': -92.27, 'lat': 15.77}","[{'id': 804, 'main': 'Clouds', 'description': ...",stations,"{'temp': 306.1, 'feels_like': 306.66, 'temp_mi...",NaN,"{'speed': 1.5, 'deg': 279}",{'all': 93},1.586711e+09,"{'country': 'MX', 'sunrise': 1586692547, 'suns...",-18000.0,3530935.0,Chicomuselo,200,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,495,"{'lon': 86.15, 'lat': 41.76}","[{'id': 801, 'main': 'Clouds', 'description': ...",stations,"{'temp': 288.41, 'feels_like': 287.36, 'temp_m...",NaN,"{'speed': 1.34, 'deg': 65, 'gust': 3.58}",{'all': 14},1.586711e+09,"{'type': 3, 'id': 2002074, 'country': 'CN', 's...",28800.0,1529376.0,Korla,200,NaN,NaN,NaN
496,496,"{'lon': 20.58, 'lat': 32.53}","[{'id': 800, 'main': 'Clear', 'description': '...",stations,"{'temp': 288.79, 'feels_like': 285.29, 'temp_m...",NaN,"{'speed': 5.3, 'deg': 43}",{'all': 1},1.586711e+09,"{'country': 'LY', 'sunrise': 1586664684, 'suns...",7200.0,88834.0,TÅ«krah,200,NaN,NaN,NaN
497,497,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,404,NaN,NaN,city not found
498,498,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,404,NaN,NaN,city not found
499,499,"{'lon': 8.48, 'lat': 35.86}","[{'id': 803, 'main': 'Clouds', 'description': ...",stations,"{'temp': 294.15, 'feels_like': 289.74, 'temp_m...",10000.0,"{'speed': 4.1, 'deg': 120}",{'all': 75},1.586711e+09,"{'type': 1, 'id': 1075, 'country': 'TN', 'sunr...",3600.0,2469252.0,Menzel Salem,200,NaN,NaN,NaN

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [47]:
lat_list = []
long_list = []
humidity_list = []
for index, row in vac_df.iterrows():
    #print(index)
    print ("----------------")
    split_row = row["coord"].split()
    lat_list.append(split_row[3].split("}")[0])
    long_list.append(split_row[1].split(",")[0])
    #print(lat_list)
    #print(long_list)(
    humidity_list.append(float(row["main"].split()[-1].split("}")[0]))
    print (type(float(row["main"].split()[-1].split("}")[0])))
    #if index ==2 :
    #    break
    #print()
        
print(lat_list)
print(long_list)

#all values are in :
gmaps.configure(api_key=g_key)

i = 0
coordinates = []
while(i<len(lat_list)) :
    coordinates.append((float(lat_list[i]),float(long_list[i])))
    i = i + 1

# Customize the size of the figure

# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(coordinates, weights=humidity_list, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=5)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

----------------
<class 'float'>

----------------
<class 'float'>

----------------
<class 'float'>
['-68.3', '-46.05', '19.23']
['-54.8', '60.92', '-34.42']

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [ ]:
#print(vac_df.keys)
clean_data = vac_df.dropna(subset=["weather"])
clean_data

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
hotel_df = clean_data
hotel_df["Hotel Name"] =""


base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?location="
params = {
    # philadelphia coords,
    "rankby": "distance",
    "type": "restaurant",
    "key": g_key,
}
# use iterrows to iterate through pandas dataframe
for index, row in clean_data.iterrows():

    # get restaurant type from df

    #print(row)
    # add keyword to params dict
    params['city'] = row["name"]
    print ("---------------")
    print(row["coord"].split())
    print ("---------------")
    lat = split_row[3].split("}")[0]
    lng = split_row[1].split(",")[0]
    params['location'] = "" + lat+","+lng+""
    print(row["name"])
    city_name = row["name"]
    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {city_name}.")
    fullurl = base_url + params["location"]+"&radius=50000&name=hotel&key=" + g_key
    #fullurl = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=32.80,-96.8&name=hotel&radius=400&key=AIzaSyBZwPQ-pWVfBztTaSX7TVDOgRr8dzuONsQ"
    print (fullurl)
    response = requests.get(fullurl).json()
    #print(response)
    #break
    # extract results
    results = response['results']
    
    try:
        print(f"Closest hotel is {results[0]['name']}.")
        
        clean_data.loc[index, 'Hotel Name'] = results[0]['name']
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
    #break    
    print("------------")
              
hotel_df = clean_data

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display Map